#cpp file init snippets
snippet cpp "c++ start snippets"
#include <iostream>
#include <string>

using namespace std;

${1}
int main()
{
  return 0;
}

endsnippet

#cpp clashh snippets
snippet class "c++ class snippets"
class ${1:ClassName}
{
  public:
    ${1:ClassName}(${2})
    {
			${3}
    }
	private:

	protected:

};
endsnippet

